<!DOCTYPE html>
<html>
  <head>
    <title>Diameter Health Project</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Diameter Health Project</h1>

    <div>
      <form action="/shorten" method="POST">
          <h4>Submit a URL below to have it Shortened</h4>
          <input type="text" name="url" required></textarea>
          <div>
              <button type="submit">Shorten</button>
          </div>
      </form>
  </div>

  <%if (shortUrl) { %>
    <h4>Here is your shortened URL</h4>
    <h5><%= shortUrl %></h4>
  <% } %>

    <div>
      <form action="/shorten" method="GET">
          <h4>Sumbit a Shortened URL below to return the Base URL</h4>
          <p>The URL format should start with http://wh.ly/</p>
          <input type="text" name="url" required></input>
          <div>
              <button type="submit">Return Base</button>
          </div>
      </form>
  </div>

  <%if (baseUrl) { %>
    <h4>Here is your Base URL</h4>
    <h5><%= baseUrl %></h4>
  <% } else if (err) { %>
    <h4>Error: <%= err %></h4>
  <% } %>

  </body>
</html>