<!DOCTYPE html>
<html>
  <head>
    <title>Short URL Generator</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Short URL Generator</h1>

    <div>
      <form action="/shorten" method="POST">
          <h4>Submit a URL below to have it shortened</h4>
          <input type="text" name="url" style="width: 300px" required></textarea>
          <div>
              <button type="submit">Shorten</button>
          </div>
      </form>
  </div>

  <%if (shortUrl) { %>
    <h4>Here is your shortened URL</h4>
    <h5 style="color:green"><%= shortUrl %></h4>
  <% } %>

    <div>
      <form action="/shorten" method="GET">
          <h4>Submit a shortened URL below to return the original URL</h4>
          <p>The URL format should start with http://wh.ly/</p>
          <input type="text" name="url" style="width: 300px" required></input>
          <div>
              <button type="submit">Return Original</button>
          </div>
      </form>
  </div>

  <%if (baseUrl) { %>
    <h4>Here is the original URL</h4>
    <h5 style="color:green"><%= baseUrl %></h4>
  <% } else if (err) { %>
    <h4 style="color:red">Error: <%= err %></h4>
  <% } %>

  </body>
</html>