<!DOCTYPE html>
<html>
  <head>
    <title>Diameter Health Project</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Diameter Health Project</h1>

    <div>
      <form action="/shorten" method="POST">
          <h4>Edit the Text</h4>
          <textarea name="url" cols="45" rows="5" ></textarea>
          <div>
              <button type="submit">Shorten</button>
          </div>
      </form>
  </div>

  <%if (shortUrl) { %>
    <h4>Here is your shortened URL</h4>
    <h5><%= shortUrl %></h4>
  <% } %>

    <div>
      <form action="/shorten" method="GET">
          <h4>Edit the Text</h4>
          <textarea name="url" cols="45" rows="5" ></textarea>
          <div>
              <button type="submit">Lengthen</button>
          </div>
      </form>
  </div>

  <%if (baseUrl) { %>
    <h4>Here is your Base URL</h4>
    <h5><%= baseUrl %></h4>
  <% } %>

  </body>
</html>